.game-board {
  position: relative;
  top: 20px;

  &__header {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgba(7, 74, 89, 0.7);
    border-radius: 0.25rem;
  }

  &__title {
    font-family: $GameOfThrones;
    margin-bottom: 20px;
  }

  &__info {
    padding: 10px;
    margin-bottom: 0;
    font-size: 22px;

    @include for-phone-only {
      font-size: 17px;
    }
  }

  &__tiles-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    grid-auto-flow: row;
  }

  &__tile {
    height: 150px;
    background-color: rgba(7, 74, 89, 0.7);
    border-radius: 0.25rem;
    padding: 10px;
  }

  &__dice-container {
    display: flex;
  }

  &__dice {
    width: 75px;
    height: 75px;
    color: $black;
    background-color: $white;
    padding: 10px;
    font-size: 24px;
    margin: 5px;
  }

  &__status {
  }
}
