@font-face {
  font-family: "Game of Thrones";
  src: url("/fonts/Game_of_thrones/Game of Thrones.ttf");
}
@font-face {
  font-family: "Nanum Gothic";
  src: url("../fonts/Nanum_Gothic/NanumGothic-Bold.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
.fireflies:nth-child(1) {
  animation: moveFireflies 21s ease-in-out 4s infinite, flash 38s ease 4s infinite;
}

.fireflies:nth-child(2) {
  animation: moveFireflies 34s ease-in-out 4s infinite, flash 22s ease 4s infinite;
}

.fireflies:nth-child(3) {
  animation: moveFireflies 51s ease-in-out 9s infinite, flash 13s ease 9s infinite;
}

.fireflies:nth-child(4) {
  animation: moveFireflies 29s ease-in-out 14s infinite, flash 11s ease 9s infinite;
}

.fireflies:nth-child(5) {
  animation: moveFireflies 56s ease-in-out 8s infinite, flash 16s ease 3s infinite;
}

.fireflies:nth-child(6) {
  animation: moveFireflies 39s ease-in-out 10s infinite, flash 53s ease 10s infinite;
}

.fireflies:nth-child(7) {
  animation: moveFireflies 28s ease-in-out 5s infinite, flash 43s ease 11s infinite;
}

.fireflies:nth-child(8) {
  animation: moveFireflies 26s ease-in-out 12s infinite, flash 26s ease 14s infinite;
}

.fireflies:nth-child(9) {
  animation: moveFireflies 18s ease-in-out 7s infinite, flash 20s ease 9s infinite;
}

.fireflies:nth-child(10) {
  animation: moveFireflies 39s ease-in-out 12s infinite, flash 30s ease 14s infinite;
}

.fireflies:nth-child(11) {
  animation: moveFireflies 16s ease-in-out 8s infinite, flash 27s ease 11s infinite;
}

.fireflies:nth-child(12) {
  animation: moveFireflies 55s ease-in-out 11s infinite, flash 46s ease 13s infinite;
}

.fireflies:nth-child(13) {
  animation: moveFireflies 10s ease-in-out 10s infinite, flash 11s ease 1s infinite;
}

.fireflies:nth-child(14) {
  animation: moveFireflies 24s ease-in-out 7s infinite, flash 20s ease 8s infinite;
}

.fireflies:nth-child(15) {
  animation: moveFireflies 5s ease-in-out 10s infinite, flash 51s ease 13s infinite;
}

.fireflies:nth-child(16) {
  animation: moveFireflies 29s ease-in-out 5s infinite, flash 59s ease 13s infinite;
}

.fireflies:nth-child(17) {
  animation: moveFireflies 39s ease-in-out 2s infinite, flash 35s ease 15s infinite;
}

/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  height: 100%;
  margin: 0;
}

/**
 * Remove default margin.
 */
body {
  height: 100%;
  margin: 0;
  color: #ffffff;
  font-size: 17px;
  font-family: "Roboto", sans-serif, regular;
  letter-spacing: 1px;
  font-weight: 0.5px;
  font-style: normal;
}
@media (max-width: 454px) {
  body {
    font-size: 15px;
  }
}

header {
  padding: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

tr {
  border: none;
}

th {
  width: 20%;
}

th,
td {
  padding: 5px;
}

.header--background {
  background-color: #010101;
}

.navbar__logo {
  height: 64px;
  padding-right: 16px;
}
@media (max-width: 454px) {
  .navbar__logo {
    padding-right: 0;
  }
}
.navbar__brand {
  color: #ffffff;
  font-family: "Nanum Gothic", sans-serif, bold;
  margin-right: 0;
}
@media (max-width: 668px) {
  .navbar__brand {
    display: block;
  }
}
@media (max-width: 454px) {
  .navbar__brand {
    display: none;
  }
}
@media (max-width: 991px) {
  .navbar__collapse {
    border: 1px #57face;
    border-top-style: solid;
  }
}

.hamburger__element {
  width: 35px;
  height: 3px;
  background-color: #ffffff;
  margin: 7px 0;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  box-shadow: none;
}

.nav-item--color {
  color: white;
}
.nav-item--hover:hover {
  color: #57face;
}
.nav-item--active {
  color: #57face;
}

.background-img {
  background-position: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.background-img--characterPage {
  background-image: url("../img/castle.jpg");
}
.background-img--gamePage {
  background-image: url("../img/map.jpg");
}
.background-img--finalePage {
  background-image: url("../img/trees.jpg");
}

.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

.main {
  position: relative;
  top: 20px;
  padding-bottom: 150px;
  flex: 1 0 auto;
}

.main-hd {
  margin-bottom: 20px;
  background-color: rgba(7, 74, 89, 0.7);
  border-radius: 0.25rem;
}
.main-hd__title {
  font-family: "Game of Thrones", serif, regular;
  padding: 0 0 24px;
  margin-bottom: 0;
}
@media (max-width: 668px) {
  .main-hd__title {
    font-size: 26px;
    text-align: center;
  }
}
@media (max-width: 454px) {
  .main-hd__title {
    line-height: 1.5;
  }
}
.main-hd__text {
  margin-bottom: 16px;
}
@media (max-width: 668px) {
  .main-hd__text {
    text-align: center;
  }
}
.main-hd__sub-title {
  font-family: "Nanum Gothic", sans-serif, bold;
  padding: 8px;
  margin: 0;
  text-align: center;
}
@media (max-width: 454px) {
  .main-hd__sub-title {
    font-size: 22px;
  }
}

.status {
  padding: 20px;
  border: solid 1px #ffffff;
  border-radius: 0.25rem;
}
@media (max-width: 768px) {
  .status {
    margin: 10px 0 10px 0px;
  }
}
.status--color {
  background-color: #010101;
}
.status--flex {
  flex: 1;
  display: flex;
}
.status:nth-child(1) {
  margin-right: 16px;
}
.status__selected-player {
  margin-bottom: 0;
  font-size: 22px;
}
.status__selected-player:nth-child(1) {
  padding-bottom: 10px;
}
.status__selected-player--active-1 {
  color: #57face;
  padding-left: 10px;
}
.status__selected-player--active-2 {
  color: #ff0000;
  padding-left: 10px;
}
@media (max-width: 454px) {
  .status__selected-player {
    font-size: 17px;
  }
}
.status__total-score--aquaMarine {
  color: #57face;
}
.status__total-score--red {
  color: #ff0000;
}
.status__token {
  border-radius: 50%;
  border: solid 1px #ffffff;
  text-align: center;
}
.status__token--toggle-1 {
  display: block;
  position: absolute;
  top: 54%;
  left: 37%;
  z-index: 5;
}
.status__token--toggle-2 {
  display: block;
  position: absolute;
  top: 54%;
  left: 37%;
  z-index: 5;
}
.status__token--lg {
  width: 120px;
  height: 120px;
  line-height: 120px;
  margin: 0px 20px;
}
.status__token--sm {
  width: 50px;
  height: 50px;
  line-height: 50px;
  float: right;
}
.status__token--sm:nth-child(2) {
  margin-left: 5px;
}
.status__token--green {
  background-color: #1D7373;
}
.status__token--red {
  background-color: #b30000;
}
.status__token--animate {
  animation: rotatingY 5s linear infinite;
  border: none;
}
.status__token--shadow-1 {
  box-shadow: 0px 0px 0px 6px #57face;
  background-color: rgba(29, 115, 115, 0.8);
}
.status__token--shadow-2 {
  box-shadow: 1px 1px 1px 6px #ff0000;
  background-color: rgba(179, 0, 0, 0.8);
}
.status__token-icon--lg {
  width: 70px;
}
.status__token-icon--sm {
  width: 30px;
}

.btn {
  text-transform: uppercase;
}
.btn--continue {
  display: none;
}
.btn--close {
  color: #ffffff;
}
.btn--red {
  background-color: #b30000;
  color: #ffffff;
  border: solid 1px #ffffff;
}
.btn--hover:hover {
  background-color: #ffffff;
  color: #b30000;
}

.main-section {
  padding: 10px;
  display: flex;
  padding: 0;
  width: 100%;
  height: 100%;
}
.main-section--background {
  background-color: rgba(7, 74, 89, 0.7);
  border-radius: 0.25rem;
}
.main-section--column {
  flex-direction: column;
}

.cards__card {
  cursor: pointer;
  border: solid 1px #ffffff;
}
.cards__card--color {
  background-color: rgba(35, 140, 140, 0.2);
  backdrop-filter: blur(7px);
}
.cards__card--active-color-1 {
  background-color: #1D7373;
}
.cards__card--active-color-2 {
  background-color: #b30000;
}
.cards__card--active-text {
  display: inline-block;
  vertical-align: top;
  position: absolute;
  right: 24px;
  font-size: large;
  color: #ffffff;
}
.cards__icon {
  width: 150px;
  display: inline-block;
  color: white;
}
.cards__table {
  height: 220px;
  color: #ffffff;
}

.sidebar {
  flex: 1;
  margin-left: 16px;
  border-radius: 0.25rem;
}
.sidebar--background-color {
  background-color: rgba(7, 74, 89, 0.7);
}
.sidebar__dice-wrapper {
  height: 100vh;
  padding: 16px;
}
.sidebar__dice-container {
  position: fixed;
  margin: 0 auto;
}
.sidebar__dice {
  width: 75px;
  height: 75px;
  border-radius: 5px;
  margin: 20px auto;
  cursor: pointer;
  position: relative;
  left: 50%;
}

.flex-container {
  display: flex;
}

.tiles {
  flex: 4;
  display: grid;
  grid-template-columns: repeat(5, 170px);
  grid-gap: 16px;
  grid-auto-flow: row;
}
.tiles__tile {
  height: 170px;
  background-color: rgba(7, 74, 89, 0.7);
  border-radius: 0.25rem;
  padding: 10px;
}
.tiles__tile:nth-of-type(5) {
  background-color: #010101;
}
.tiles__tile:nth-of-type(8) {
  background-color: #010101;
}
.tiles__tile:nth-of-type(17) {
  background-color: #010101;
}
.tiles__tile:nth-of-type(22) {
  background-color: #010101;
}
.tiles__tile:nth-of-type(26) {
  background-color: #010101;
}
.tiles__number {
  display: block;
}

.modal {
  max-width: 600px;
  height: 250px;
  border: solid 1px #ffffff;
  border-radius: 0.25rem;
  padding: 40px;
  position: fixed;
  top: 50%;
  left: 25%;
  text-align: center;
}
.modal--color {
  background-color: rgba(7, 74, 89, 0.5);
  backdrop-filter: blur(7px);
}
.modal--penalty {
  display: none;
}
.modal--winner {
  display: none;
}
.modal__btn {
  margin-top: 20px;
  text-transform: uppercase;
}
.modal__btn--close {
  color: #ffffff;
}
.modal__btn--red {
  background-color: #b30000;
  color: #ffffff;
  border: solid 1px #ffffff;
}
.modal__btn--hover:hover {
  background-color: #ffffff;
  color: #b30000;
}
.modal__btn--close {
  position: absolute;
  top: 0;
  right: 20px;
}
.modal__icon-close {
  color: #ffffff;
}
.modal__icon-close--hover:hover {
  color: #57face;
}

.chair {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}
.chair--hidden {
  display: none;
}

.fireflies {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #d35400;
  box-shadow: 0 0 15px #d35400;
  z-index: 1;
  position: absolute;
}
@media (max-width: 991px) {
  .fireflies {
    display: none;
  }
}
.fireflies:nth-of-type(even) {
  animation-duration: 12s, 15s;
  animation-fill-mode: backwards;
  animation-direction: alternate;
}
.fireflies:nth-of-type(odd) {
  animation-fill-mode: forwards;
  animation-duration: 10s, 17s;
}
.fireflies--after::before {
  background: black;
  opacity: 0.4;
}
.fireflies--after::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #ffa502;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
  transform: scale(1.2);
  box-shadow: 0 0 15px #ffa502;
  filter: blur(3px);
}

@keyframes rotatingY {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
@keyframes moveFireflies {
  15% {
    left: 90%;
  }
  25% {
    top: 70%;
  }
  30% {
    left: 20%;
  }
  50% {
    left: 50%;
    top: 50%;
  }
  65% {
    left: 70%;
  }
  75% {
    top: 70%;
  }
  85% {
    left: 40%;
  }
  100% {
    left: 20%;
    top: 20%;
  }
}
@keyframes flash {
  0% {
    opacity: 0;
    box-shadow: 0 0 0vw 0vw #ffa502;
  }
  30% {
    opacity: 0;
    box-shadow: 0 0 0vw 0vw #ffa502;
  }
  100% {
    opacity: 0;
    box-shadow: 0 0 0vw 0vw #ffa502;
  }
  5% {
    opacity: 1;
    box-shadow: 0 0 2vw 0.4vw #ffa502;
  }
}
@media (max-width: 768px) {
  .ml-auto {
    margin: 20px auto;
  }
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.close {
  opacity: 1;
}

.footer {
  position: relative;
  flex-shrink: 0;
  background-color: #010101;
}

.icons {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  line-height: 20vh;
}
.icons__link {
  color: #ffffff;
  margin-right: 5%;
}
.icons__link:nth-of-type(4) {
  margin-right: 0;
}
.icons__link--hover:hover {
  color: #57face;
}

/*# sourceMappingURL=styles.css.map */
